* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #228B22;
    color: white;
    padding-top: 20px;
    text-align: center;
}

.sidebar h2 {
    color: white;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color:#00ab41;
}
/* Ensure the icons are sized appropriately */
.sidebar ul li a i {
    margin-right: 10px;  /* Adds space between icon and text */
    font-size: 20px;     /* Adjust icon size */
}

.sidebar ul li a {
    display: flex;
    align-items: center;
}


.main-content {
    flex: 1;
    padding: 20px;
}

#content-area {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
}
